<body>
<section class="landing-page">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: grey">
    <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" height="100px" width="100px" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="login">Log In <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="create-account">Create Account</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <header>
    <div class="container">
      <div  class="hero-section">
      <div class="row align-items-center justify-content-around">
        <div class="col-12 col-lg-5">
          <h1>TRAVEL BUDDY</h1>
          <br>
          <br>
          <h5>Simplifying your travel planning since 2022.</h5>
          <br>
          <br>
          <p>Scroll down to learn about us and read user reviews!</p>

        </div>
      </div>
      </div>
    </div>
  </header>

  <div class="section about-us">
    <div class="row align-items-center justify-content-around">
      <div class="col-12 col-lg-5">
        <h1>About Us</h1>
        <br>
        <p>A way for real people to plan a trip. Instead of having to go to five different websites to plan your trip, do it all here!
          <br>
          <br>
          Generally lost? Not anymore. We can help you find your way out of a paper bag and find some snacks along the way.
          <br>
          <br>
          Are you neurodivergent or just compulsive in nature? Get your brain in order and calm the inner panic. The control is in your hands.</p>
      </div>
    </div>
  </div>

  <div class="section user-reviews">
      <div class="container owl-2-style">
        <div class="owl-carousel owl-2 owl-loaded owl-drag">
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3013px, 0px, 0px); transition: all 1s ease 0s; width: 4521px;"><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_1_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Joshua Jones</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_2_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Kellie Kenney</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_3_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Will Reagan</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_1_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Alex Fought</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_2_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Ben Stafford</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_3_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Devin Bridges</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_1_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Joshua Jones</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_2_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Kellie Kenney</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item active" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_3_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Will Reagan</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item cloned active" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_1_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Alex Fought</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item cloned active" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_2_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Ben Stafford</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div><div class="owl-item cloned" style="width: 356.667px; margin-right: 20px;"><div class="media-29101">
            <img src="images/person_3_sm.jpg" alt="Image" class="img-fluid">
            <h3><a href="#">Devin Bridges</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem iusto officia! Quis tenetur maxime, laboriosam saepe, voluptate necessitatibus tempora!</p>
          </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>

      </div>

  </div>



<div>
  <footer class="text-center">
    <small>Made by Big Beautiful Brains&trade;</small>
  </footer>
</div>
</section>
</body>
