<body>
<section class="landing-page">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: grey">
    <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" height="100px" width="100px" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="login">Log In <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="create-account">Create Account</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <header>
    <div class="container">
      <div  class="hero-section">
      <div class="row align-items-center justify-content-around">
        <div class="col-12 col-lg-5">
          <h1>TRAVEL BUDDY</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos illo, ad nulla alias ex aut aliquam suscipit tenetur soluta eum libero accusamus obcaecati facere incidunt neque hic eos minus illum.</p>
        </div>
      </div>
      </div>
    </div>
  </header>

  <div class="section about-us">
    <div class="row align-items-center justify-content-around">
      <div class="col-12 col-lg-5">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, consequuntur pariatur ea error nemo, dolorem excepturi cupiditate labore odio repellat sunt nam officiis praesentium ipsum quisquam aspernatur voluptatum quibusdam ratione.</p>
      </div>
    </div>
  </div>

  <!-- created this with Elfsight - able to create 1 free review widget -->
  <div class="section reviews">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="elfsight-app-fc31cd34-12e1-4396-b91d-534fc2413e57"></div>
        </div>
      </div>
    </div>
  </div>

<div>
  <footer class="text-center">
    <small>Made by Big Beautiful Brains&trade;</small>
  </footer>
</div>
</section>
</body>
