<body>
<section class="landing-page">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: grey">
    <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" height="100px" width="100px" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="login">Log In <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="create-account">Create Account</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <header>
    <div class="container">
      <div  class="hero-section">
      <div class="row align-items-center justify-content-around">
        <div class="col-12 col-lg-5">
          <h1>TRAVEL BUDDY</h1>
          <br>
          <br>
          <h5>Simplifying your travel planning since 2022.</h5>
          <br>
          <br>
          <p>Scroll down to learn about us and read user reviews!</p>

        </div>
      </div>
      </div>
    </div>
  </header>

  <div class="section about-us">
    <div class="row align-items-center justify-content-around">
      <div class="col-12 col-lg-5">
        <h1>About Us</h1>
        <br>
        <p>A way for real people to plan a trip. Instead of having to go to five different websites to plan your trip, do it all here!
          <br>
          <br>
          Generally lost? Not anymore. We can help you find your way out of a paper bag and find some snacks along the way.
          <br>
          <br>
          Are you neurodivergent or just compulsive in nature? Get your brain in order and calm the inner panic. The control is in your hands.</p>
      </div>
    </div>
  </div>

  <div class="section user-reviews">
    <div class="row align-items-center justify-content-around">
    <h1>What Our Users Say:</h1>
    <div id="reviewBox" class="row g-4 py-5 row-cols-12 row-cols-lg-8">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p class="mb-0">Love the design and user-friendly aspects of Travel Buddy 👍 Loads quickly and responsive to all devices. A++</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Taylor J. - St. Louis, MO
          </figcaption>
        </figure>
      </div>
    </div>
    <div id="reviewBox" class="row g-4 py-5 row-cols-7 row-cols-lg-8">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p class="mb-0">I love this app. I have recommended it to friends who are love (and hate!) planning trips and they are equally as impressed. I think anyone would love this app for their travel planning needs.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Garrett K. - St. Charles, MO
          </figcaption>
        </figure>
      </div>
    </div>
    <div id="reviewBox" class="row g-4 py-5 row-cols-7 row-cols-lg-8">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p class="mb-0">A very well done app that is user-friendly and works exactly as advertised. Leaps and bounds above any other travel planning site I've ever worked with 😍👏</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Marion C. - O'Fallon, IL
          </figcaption>
        </figure>
      </div>
    </div>
    <div id="reviewBox" class="row g-4 py-5 row-cols-7 row-cols-lg-8">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p class="mb-0">The Travel Buddy app saved my day! It's very easy to use and gives me everything I need to plan a trip in one place. Nice job, can't wait to plan more trips!</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Ruby K. - Wentzville, MO
          </figcaption>
        </figure>
      </div>
    </div>
    </div>
  </div>
  <div class="white-space"></div>
<div>
  <footer class="text-center">
    <small>Made by Big Beautiful Brains&trade;</small>
  </footer>
</div>
</section>
</body>
