<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel Buddy Maps</title>
  <link rel="stylesheet" href="create-trip.component.css">

</head>
<body>
<h1>Travel Buddy Maps</h1>

<div class="jumbotron">
  <div class="container-fluid">
    <h1>I can go the distance</h1>
    <p>I will go 'most anywhere to find where I belong</p>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="from" class="label">Origin: </label>
        <div class="input">
          <input type="text" id="from" placeholder="Where are we starting?"> <br><br>
          <label for="to" class="label">Destination: </label>
          <div class="input">
            <input type="text" id="to" placeholder="Where are we going?">
          </div>
        </div>
      </div>
    </form>

      <div class="button">
        <button class="button">Take me there</button>
      </div>
  </div>
  <div class="container-fluid">
    <div id="googleMap">
      <div id="output"></div>
    </div>
  </div>

</div>
  <script async defer src="https://maps.googleapis.com/map/api/js?key=AIzaSyCuprnLcL9nqT1fBkjNPDPbAxqZB6Or0yA&callback=initMap"></script>
  <script src="/create-trip.component.js"></script>
</body>

</html>
