<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: grey">
    <div class="container">
      <a class="navbar-brand">
        <img src="/assets/images/logo.png" height="100px" width="100px" alt="logo">
      </a>
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="view-all-trips">Your Trips</a></li>
          <li><a class="dropdown-item" href="create-trip">Create Trip</a></li>
          <li><a class="dropdown-item" href="dashboard">Dashboard</a></li>
          <li><a class="dropdown-item" href="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section>
    <div class="white-space"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Create Trip</h1>
        </div>

        <!--The div element for the map -->
        <div id="floating-panel">

        </div>
        <div id="map"></div>
        <div id="directionsPanel"></div>

      </div>
    </div>
    <header>
      <div class="container">
        <div class="hero-section">
          <div class="row align-items-center justify-content-around">
            <div class="col-12 col-lg-12">
              <!-- <small class="alert-danger" *ngIf="">Starting Location and Ending Location are required! Please try again.</small> -->
              <form #createTripForm="ngForm" (ngSubmit)="onSubmit(trip)">
                <fieldset>
                  <div class="form-group">
                    <label class="form-label mt-4">Trip Name: </label>
                    <input type="text" class="form-control" placeholder="Ex.: Chicago 2023" #tripName="ngModel"
                      [(ngModel)]="trip.tripName" name="tripName" required [pattern]="tripNamePattern">
                  </div>


                  <div class="form-group">
                    <label class="form-label mt-4">Starting Location: </label>
                    <select id="start" class="form-control" #startingLocation="ngModel"
                      [(ngModel)]="trip.startingLocation" name="startingLocation" required
                      [pattern]="startingLocationPattern">
                      <option value="Chicago, IL">Chicago</option>
                      <option value="St Louis, MO">St Louis</option>
                      <option value="Joplin, MO">Joplin, MO</option>
                      <option value="Oklahoma City, OK">Oklahoma City, OK</option>
                      <option value="Amarillo, TX">Amarillo, TX</option>
                      <option value="Gallup, NM">Gallup, NM</option>
                      <option value="Flagstaff, AZ">Flagstaff, AZ</option>
                      <option value="Winona, AZ">Winona, AZ</option>
                      <option value="Kingman, AZ">Kingman, AZ</option>
                      <option value="Barstow, CA">Barstow, CA</option>
                      <option value="San Bernardino, CA">San Bernardino, CA</option>
                      <option value="Los Angeles, CA">Los Angeles</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label class="form-label mt-4">Ending Location: </label>
                    <select id="end" class="form-control" #endingLocation="ngModel" [(ngModel)]="trip.endingLocation"
                      name="endingLocation" required [pattern]="endingLocationPattern">
                      <option value="Chicago, IL">Chicago</option>
                      <option value="St Louis, MO">St Louis</option>
                      <option value="Joplin, MO">Joplin, MO</option>
                      <option value="Oklahoma City, OK">Oklahoma City, OK</option>
                      <option value="Amarillo, TX">Amarillo, TX</option>
                      <option value="Gallup, NM">Gallup, NM</option>
                      <option value="Flagstaff, AZ">Flagstaff, AZ</option>
                      <option value="Winona, AZ">Winona, AZ</option>
                      <option value="Kingman, AZ">Kingman, AZ</option>
                      <option value="Barstow, CA">Barstow, CA</option>
                      <option value="San Bernardino, CA">San Bernardino, CA</option>
                      <option value="Los Angeles, CA">Los Angeles</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <button type="submit" id="submit" class="btn btn-outline-dark">Create</button>
                    <!-- <button type="submit" class="btn btn-outline-dark" href="dashboard">Cancel</button> -->
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="white-space"></div>
    <div>
      <footer class="text-center">
        <small>Made by Big Beautiful Brains&trade;</small>
      </footer>
    </div>
  </section>
</body>
