#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

/* #floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
} */

/* #floating-panel {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  height: auto;
} */

#map {
  height: 100%;
}

.hero-section  {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 75px 50px 70px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0,0,0,0.2) 0%); */
}

button  {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.btn  {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.white-space  {
  margin-top: 150px;
}
