<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: grey">
    <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" height="100px" width="100px" alt="logo">
    </a>
    <div class="dropdown">
      <button
        class="btn btn-outline-dark dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="view-all-trips">Your Trips</a></li>
        <li><a class="dropdown-item" href="create-trip">Create Trip</a></li>
        <li><a class="dropdown-item" href="dashboard">Dashboard</a></li>
        <li><a class="dropdown-item" href="logout">Logout</a></li>
      </ul>
    </div>
    </div>
  </nav>
  <section>
  <div class="white-space"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Welcome!</h1>
        <div class="white-space"></div>
        <h5>What would you like to do?</h5>
        <a class="btn btn-lg btn-outline-dark" href="create-trip">Create Trip</a>
        <a class="btn btn-lg btn-outline-dark" href="view-all-trips">View Trips</a>
      </div>
    </div>
  </div>
  <div class="white-space"></div>
  <div>
    <footer class="text-center">
      <small>Made by Big Beautiful Brains&trade;</small>
    </footer>
  </div>
</section>
</body>
